<%# Render the top bar and navigation bar %>
<%= render "shared/top-bar" %>
<%= render "shared/navigation-bar" %>

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="wrapper-content bg-white pinside40">
        <div class="row">
          <!-- Listing of all the blog posts -->
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="row">
              <% @blogs.zip(@images).each do |blog, image| %>
                <!-- Single Post -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="post-holder">
                    <div class="post-block mb40">
                      <% if !image.nil? %>
                        <div class="post-img mb30">
                          <%= link_to image_tag(image), @blog, class: "imghover" %>
                        </div>
                      <% end %>
                      <div class="bg-white">
                        <h1><%= link_to blog.title, blog, class: "title" %></h1>
                        <p class="meta">
                          <span class="meta-date"> <%= blog.created_at.strftime("%d/%m/%Y")%> </span>
                          <span class="meta-author">By <%= link_to "Admin", team_path, class: "meta-link" %>
                          </span><span class="meta-comments">0<a href="#" class=" meta-link"> Comments</a></span>
                        </p>
                        <%= raw sanitize Nokogiri::HTML.parse(blog.text).css('p').first.text, scrubber: BlogScrubber.new %><br>
                        <%= link_to "Read More", blog, class: "btn-link" %>  
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <%# Render Siderbar %>
          <%= render "shared/sidebar" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Render footer %>
<%= render "shared/footer" %>