<%# Top Bar %>
<header class="header">
    <% if cookies[:consumer].to_s == 'true' %>
        <%= link_to "For Consumers", goto_consumer_path %>
    <% else %>
        <%= link_to "For Insurers", goto_consumer_path %>
    <% end %>
</header>

<%# Navigation Bar %>
<nav class="nav_bar">
    <div class="container">
        <div class="row">
            <%# Logo %>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-6 col-6">
                <%= link_to image_tag("moneyloop/logo_blue.png", alt: "Moneyloop - Logo (blue)"), root_path, class: "nav_logo" %>
            </div>

            <%# Navigation%>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="nav_items">
                    <ul>
                        <%# Home page%>
                        <li> <%= link_to "Home", root_path, class: "animsition-link"%> </li>
                        <%# About Us %>
                        <li>
                            <%= link_to "About Us", about_path, class: "animsition-link" %>
                            <ul>
                                <li> <%= link_to "About Us", about_path, class: "animsition-link" %> </li>
                                <li> <%= link_to "Team", team_path, class: "animsition-link" %> </li>
                            </ul>
                        </li>
                        <%# Blog %>
                        <li> <%= link_to "Blog", blogs_path, class: "animsition-link" %> </li>
                        <%# Contact Us %>
                        <li> <%= link_to "Contact Us", contact_path, class: "animsition-link"%> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>