<%# Homepage slider %>
<section>
    <div class="owl-carousel owl-theme home-slider">
        <%# First Item %>
        <div class="item item-first">
            <div class="caption">
                <div class="container-fluid caption-bg1">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                            <h1 class="white"> Insurance Excess Payments - Stress and Interest Free </h1>
                            <h3 class="white"> For Insurers, for their customers </h3>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <%= image_tag "moneyloop/motif_blue.png" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%# Second Item %>
         <div class="item item-second">
            <div class="caption">
                <div class="container-fluid caption-bg2">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                            <h1 class="white"> A white label solution for Insurers </h1>
                            <h3 class="white"> Improve customer experience and cashflow </h3>
                        </div>
                        <div class="col-xl-3 col-lg-9 col-md-4 col-sm-12">
                            <%= image_tag "moneyloop/motif_blue.png" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%# Third Item %>
        <div class="item item-third">
            <div class="caption">
                <div class="container-fluid caption-bg1">
                    <div class="row">
                        <div class="white col-xl-9 col-lg-9 col-md-8 col-sm-12">
                            <h1 class="white"> Flexible and interest-free excess payment plans </h1>
                            <h3 class="white"> Ask your insurer about MoneyLoop </h3>
                        </div>
                        <div class="col-xl-3 col-lg-9 col-md-4 col-sm-12">
                            <%= image_tag "moneyloop/motif_blue.png" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%# Insurer Information %>
<section class="paddingt4">
    <div class="container">
        <div class="row">
            <div class="paddingb5 col-xl-12 text-center">
                <h2>
                    We empower insurers to offer their customers interest-free and flexible excess payment
                    plans during life’s unexpected emergencies
                </h2>
            </div>
            <div class="paddingb3 col-xl-8 offset-xl-2">
                <div class="owl-carousel owl-theme partners-slider">
                    <div class="item marginside30">
                        <%= image_tag "moneyloop/partners/drive-my-car.png", alt: "Drive My Car" %>
                    </div>
                    <div class="item marginside30">
                        <%= image_tag "moneyloop/partners/car-next-door.png", alt: "Car Next Door" %>
                    </div>
                    <div class="item marginside30">
                        <%= image_tag "moneyloop/partners/splend.png", alt: "Splend" %>
                    </div>
                    <div class="item marginside30">
                        <%= image_tag "moneyloop/partners/carly-co.png", alt: "Carly.co" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%# Numbers Band %>
<section class="paddingb4">
    <div class="text-center mb20">
        <h2> MoneyLoop supports the majority of insurance products that have excess payable at claim </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center" data-aos="zoom-in">
                    <h1 class="moneyloop-green">$100,000</h1>
                    <p class="grey">Loans financed...and counting</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center" data-aos="zoom-in">
                    <h1 class="moneyloop-green">150,000+</h1>
                    <p class="grey">Customers Empowered</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center" data-aos="zoom-in">
                    <h1 class="moneyloop-green">0</h1>
                    <p class="grey">Loans turned away</p>
                </div>
            </div>
                <div class="col">
                    <div class="text-center" data-aos="zoom-in">
                        <h1 class="moneyloop-green">
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>
                        </h1>
                        <p class="mt20 grey">Customer Rating</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%# About %>
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"  title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
<section class="padding5 moneyloop-bg-orange">
    <h2 class="text-center white mb40">Simple Steps for Insurers</h2>
    <div class="container">
        <div class="row">
            <div class="text-center col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" data-aos="zoom-out" data-aos-duration="1000" data-aos-offset="100">
                <%= image_tag "moneyloop/icons/customer-details.svg", class: "img-md mb20" %>
                <p class="white">
                    Enter customer details into the MoneyLoop platform
                </p>
            </div>
            <div class="text-center col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" data-aos="zoom-out" data-aos-duration="2000" data-aos-offset="120">
                <%= image_tag "moneyloop/icons/risk-check.svg", class: "img-md mb20" %>
                <p class="white">
                    A risk check is run through MoneyLoop’s proprietary, robust and secure system to calculate risk
                </p>
            </div>
            <div class="text-center col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" data-aos="zoom-out" data-aos-duration="2500" data-aos-offset="140">
                <%= image_tag "moneyloop/icons/offer.svg", class: "img-md mb20" %>
                <p class="white">
                    Offer your customer a white labelled payment plan
                </p>
            </div>
            <div class="text-center col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" data-aos="zoom-out" data-aos-duration="3000" data-aos-offset="180">
                <%= image_tag "moneyloop/icons/payment.svg", class: "img-md mb20" %>
                <p class="white">
                    Customer agrees and excess paid to insurer within 7 business days
                </p>
            </div>
        </div>
    </div>
</section>

<%# Testimonials %>
<section class="padding3">
    <%= render "shared/testimonials" %>
</section>

<%# News %>
<%= render "shared/news" %>

<%# Contact %>
<section class="padding2">
    <%= render "shared/contact" %>
</section>