<%# Title Card %>
<div class="moneyloop-bg-orange mb30 title-card">
    <div class="container">
        <div class="row">
            <div class="text-center padding2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>Created for Insurers</h1>
            </div>
        </div>
    </div>
</div>

<%# Additional Information %>
<div class="container">
    <div class="row">
        <div class="text-center col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h2>
                A simple and easy to use white-labeled solution that improves the customer experience,
                decreases customer churn and reduces claim management costs.<br/>
                A WIN WIN for insurer and the customer.
                That's what we're about.
            </h2>
            <div class="text-center col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <%= link_to "Go to the Dashboard", login_path, class: "btn btn-small" %>
            </div>
        </div>
    </div>
</div>

<%# Benefits %>
<section class="container">
    <%# White Labelled %>
    <div class="row box pdt30">
        <div class="grey col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h1 class="text-center bold moneyloop-green">Easily White Labelled</h1>
            <p>
                MoneyLoop offers insurers the ability to lessen the financial stress on a customer, 
                during the claims process, with interest-free and flexible payment plans.
            </p>
        </div>
        <div class="img-lg col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
            <%= image_tag "moneyloop/insurers/whitelabel.png" %>
        </div>
    </div>
    <%# Robust %>
    <div class="row box pdt30">
        <div class="img-lg col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
            <%= image_tag "moneyloop/insurers/propcheck.png" %>
        </div>
        <div class="grey col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h1 class="text-center bold moneyloop-orange">Robust Proprietary Credit Decision</h1>
            <p>
                With our credit-decisioning engine we are able to accept any customer you send us. 
                The score determines the risk and required discount to service the customer. 
                This includes your customers who are eligible for financial hardship.
            </p>
        </div>
    </div>
    <%# Flexible %>
    <div class="row box pdt30">
        <div class="grey col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h1 class="text-center bold moneyloop-green">Flexible Repayment Structures</h1>
            <p>
                We understand that some customers will require more time to repay their excess.
                We offer flexible payment solutions ranging from 2 months up to 4 months, 
                to ensure you are there for your customers when they need you most.
            </p>
        </div>
        <div class="img-lg col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
            <%= image_tag "moneyloop/insurers/flexiblerepayments.png" %>
        </div>
    </div>
</section>

<%# Find out More! %>
<section class="moneyloop-bg-blue padding2">
    <div class="container">
        <h1 class="text-center"> Find out more! </h1>
        <h2 class="text-center">Want to improve your customer&#39;s experience at the time of claim?</h2>
        <div class="text-center">
            <%= link_to "Contact us now", contact_path, class: "btn btn-large" %>
            <%= link_to "Lost? Read our FAQ", faq_path, class: "btn btn-large" %>
        </div>
    </div>
</section>

<section class="padding3 mb80">
    <h2 class="text-center grey mb40">MoneyLoop is here to help you service your customer when it matters most.</h2>
    <div class="container">
        <div class="row">
            <div class="text-center col" data-aos="zoom-out">
                <%= image_tag "moneyloop/insurers/finance.png", class: "img-md mb20" %>
                <p class="grey">
                    Interest-free finance
                </p>
            </div>
            <div class="text-center col" data-aos="zoom-out">
                <%= image_tag "moneyloop/insurers/whitelabel.png", class: "img-md mb20" %>
                <p class="grey">
                    White-labelled
                </p>
            </div>
            <div class="text-center col" data-aos="zoom-out">
                <%= image_tag "moneyloop/insurers/flexiblepayments.png", class: "img-md mb20" %>
                <p class="grey">
                    Flexible payment terms
                </p>
            </div>
            <div class="text-center col" data-aos="zoom-out">
                <%= image_tag "moneyloop/insurers/improvedjourney.png", class: "img-md mb20" %>
                <p class="grey">
                    Improved customer journey!
                </p>
            </div>
        </div>
    </div>
</section>