<%# Render the header %>
<%= render "shared/header" %>

<%# Title Card %>
<div class="moneyloop-bg-orange mb30 title-card">
    <div class="container">
        <div class="row">
            <div class="text-center padding2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>We're here to help</h1>
            </div>
        </div>
    </div>
</div>

<%# Contact Us form %>
<section class="padding2">  
    <% if flash[:notice] %>
        <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="mb60 text-center">
                <h1><%= flash[:notice] %><h1>
            </div>
        </div>
    <% else %>                  
        <%= render "shared/contact" %>
    <% end %>
</section>

<%# Contact information %>
<section class="container mb80">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <%# Some Description %>
            <div class="mb60 text-center">
                <p class="lead grey">
                    With our credit decisioning engine we are able to accept any customer you send us. <br/>
                    We use our score to determine the required discount to service the customer. <br/>
                    This includes your customers who are eligible for financial hardship. <br/>                    
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <%# Phone number %>
        <div class="box-sm grey  moneyloop-border-blue text-center col-xl-2 offset-xl-2 col-lg-3 col-md-12 col-sm-12 col-12">
            <h3 class="center">1300 339 993</h3>
        </div>
        <%# Address %>
        <div class="box-sm grey moneyloop-border-orange text-center col-xl-2 offset-xl-1 col-lg-3 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h3 class="center">Level 4<br/>11 York Street<br/>Sydney NSW</h3>
        </div>
        <%# Email Address %>
        <div class="box-sm grey moneyloop-border-blue text-center col-xl-2 offset-xl-1 col-lg-3 offset-lg-1 col-md-12 col-sm-12 col-12">
            <%= link_to "hello@moneyloop.com", 'mailto:hello@moneyloop.com', class:"center" %>
        </div>
    </div>
</section>

<%# Render footer %>
<%= render "shared/footer" %>
