<!DOCTYPE html>
<html>
  <head>
    <!-- Metadata -->
    <meta charset="utf-8">

    <%# might need to change or update these %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MoneyLoop">
    <meta name="keywords" content="Financial Website Template, Bootstrap Template, Loan Product, Personal Loan">
    <title>MoneyLoop</title>

    <%# These tags help fight XSS attacks %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <!-- Favicon -->
    <link rel="icon" href=<%=image_path "moneyloop/motif_blue.png"%> type="image/png">

    <!-- Assets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= stylesheet_link_tag     params[:controller], media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag  params[:controller], 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <%# Render the header %>
    <%= render "shared/header" %>
    <%= yield %>
    <%# Render footer %>
    <%= render "shared/footer" %>
  </body>
</html>
